.cardHandlerContainer {
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 7rem;
    margin-right: 7rem;
}

@media (max-width: 900px) {
    .cardHandlerContainer {
        flex-direction: column;
        flex-wrap: nowrap;
        margin-left: 2rem;
        margin-right: 2rem;
    }
}

.cardContainer {
    display: flex;
    flex: 1 1 25vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* width: 30vw; */
    height: 40vh;
    margin: 1rem;
    padding: 1rem;
    background-color: #A0AECD;
    border-radius: 0.5rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
}

.cardContent::-webkit-scrollbar {
    background: #1A202C;
    width: 12px; /* width of the entire scrollbar */
    border-radius: 8px;
}

.cardContent::-webkit-scrollbar-thumb {
    background: #A0AECD;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

.cardContent {
    overflow-y: scroll;
    margin: 1rem;
    color: #EFD469;
}

.fade-in-image { animation: fadeIn 2s; }

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}